@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
{
box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: brown;
}

li, a, button{
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 30px;
    text-decoration: none;
    color: white;;

}
header{
    display: flex;
    justify-content:center;
    background-color: #fcecdc;
    position:
    
    
    
}
img{
    width: 100px;
}

    

.nav{
    
    list-style: none;
    
}
.nav-item li{
    
    display: inline-block;
    padding: 0px 20px;
    
}

.nav-item a{
    transition: 
        all 0.3s ease 0s;
}

.nav-item li a:hover{
    background-color: silver;

}
